.container {
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.wrapper,
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper span {
    color: white;
    font-family: var(--secondary-font);
}

.header span {
    color: #bc7afe;
}


.img {
    object-fit: contain;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: white;
}

.header {
    height: 200px;
    width: 50%;
    font-size: 80px;
    font-weight: 900;
    color: white;
    font-family: var(--secondary-font);
    text-align: center;
}

.description {
    color: white;
    font-family: var(--secondary-font);
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 20px;
    width: 50%;
}

@media only screen and (min-width: 361px) and (max-width: 767px) {
    .description {
        margin: 0;
        width: 80%;
        padding: 10px;
    }
    .header {
        margin-top: 40px;
        height: 200px;
        width: 95%;
        font-size: 50px;
        font-weight: 900;
    }

    .logo {
        padding: 10px;
    }

    .img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 360px) {
    .description {
        margin: 0;
        width: 90%;
        padding: 10px;
        font-size: 13px;
    }
    .header {
        height: 150px;
        width: 80%;
        font-size: 40px;
        font-weight: 900;
    }

    .img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .description {
        margin: 10px 0;
        width: 50%;
        padding: 40px;
    }
    .header {
        height: 150px;
        width: 70%;
        font-size: 60px;
        font-weight: 900;
    }
}