.container {
    max-height: 100vh;
    max-width: 100%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background-color: #19152b;
    /* background: linear-gradient(315deg, #dfdcf1 3%, #d3b0f5 38%, #5438f3 68%, #19152b 98%); */
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wrapper, .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper span {
    color: white;
    font-family: var(--secondary-font);
    margin: 15px 0;
}

.header span {
    color: #bc7afe;
}

.header {
    margin-top: 50px;
    height: 200px;
    width: 50%;
    font-size: 80px;
    font-weight: 900;
    color: white;
    font-family: var(--secondary-font);
}

.img {
    object-fit: contain;
}

.logo {
    padding: 30px;
}

.description {
    margin: 30px 0;
    color: white;
    font-family: var(--secondary-font);
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}


.btna {
    padding: 15px 25px;
    font-family: var(--secondary-font);
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0;
  }
  
  .btnb {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btnb:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btnb:hover {
    color: rgb(0, 0, 0);
  }
  
  .btnb:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btnb:active {
    top: 2px;
  }